<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <!-- Servlet Configuration -->
    <servlet>
        <servlet-name>helloservlet</servlet-name>
        <servlet-class>com.controller.HelloServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>registerservlet</servlet-name>
        <servlet-class>com.controller.RegisterServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>dispatchedservlet</servlet-name>
        <servlet-class>com.controller.DispatchedServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>registerpersonservlet</servlet-name>
        <servlet-class>com.controller2.RegisterPersonServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>dispatchedpersonservlet</servlet-name>
        <servlet-class>com.controller2.DispatchedPersonServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>loginpersonservlet</servlet-name>
        <servlet-class>com.controller2.LoginPersonServlet</servlet-class>
    </servlet>

    <!-- Servlet Mapping -->

    <servlet-mapping>
        <servlet-name>helloservlet</servlet-name>
        <url-pattern>/helloservlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>registerservlet</servlet-name>
        <url-pattern>/registerservlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>dispatchedservlet</servlet-name>
        <url-pattern>/dispatchedservlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>registerpersonservlet</servlet-name>
        <url-pattern>/registerpersonservlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>dispatchedpersonservlet</servlet-name>
        <url-pattern>/dispatchedpersonservlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>loginpersonservlet</servlet-name>
        <url-pattern>/loginpersonservlet</url-pattern>
    </servlet-mapping>

</web-app>