<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       xmlns:c="http://www.springframework.org/schema/c" >
    <bean class="com.springcore.Certi" name="certi" c:name="Java, C/C++" />

    <bean class="com.springcore.Person" name="person" autowire="constructor">
        <constructor-arg value="Shamim Sarker Constructor" index="0"/>
        <constructor-arg value="2999" type="int" index="1"/>
<!--        <constructor-arg ref="certi" index="2"/>-->
        <constructor-arg>
            <list>
                <value>Java</value>
                <value>C#</value>
                <value>C++</value>
                <value>Python</value>

            </list>
        </constructor-arg>
    </bean>

</beans>